<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>{% block title %}MyBlog{% endblock %}</title> </head>

<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h3><a href="/">MyBlog</a></h3>
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}. Thanks for logging in. <a href="/admin/logout/">log out</a></p>
                {% else %}
                    <p>Welcome, new user. Please <a href="/admin/login">log in</a>.</p>
                {% endif %}
                {% if user.is_staff %}
                    <a href="/createpost">Create post</a>
                {% endif %}

            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>