{% extends "base.html" %}

{% block content %}
    <div class="main">

        <!-- Posts  -->
        <div class="title">{{ post.title }}</div>
        <ul>
            <div class="meta">
                <span class="post-autor">{{ post.autorname }}</span>
                <span class="time">{{ post.created }}</span>
                {% if user.id == post.autor_id or user.is_superuser %}
                    <span class="edit"><a href="{{ post.id }}/edit">edit</a></span>
                    <span class="delete"><a href="{{ post.id }}/delete">delete</a></span>
                {% endif %}
            </div>
            <div class="body">{{ post.body|linebreaks }}</div>
        </ul>    

    </div>

    <div id="commentform">
        {% if user.is_staff %}
            <!-- Create Post Form  -->
            <h3>Add comment</h3>
            <form metod="POST" action="">{% csrf_token %}
                {{ form.as_p }}
                <input name="comment_form" type="submit">
            </form>
        {% endif %}
    </div>

    <div class="comments">
    <!-- Comments  -->
        <ul>
            {% for comment in comments %}
                <li>
                    <div class="meta">
                        <span class="comment-autor">{{ comment.autorname }}</span>
                        <span class="time">{{ comment.created }}</span>
                    </div>
                    <div class="body">{{ comment.body|linebreaks }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}